@import url(https://fonts.googleapis.com/css?family=Quicksand:700);

body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #37474f;
}

h1,h2,h3,h4,h5,h6,.mdl-button {
  /** mdl で上書きされるため **/
  font-family: 'Roboto','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;  
}

a {
	text-decoration: none;		
}

footer a{
  color: #fff;
}

.max-width {
	max-width: 900px;
	margin: auto;
}

@media(max-width: 1024px){
  .max-width {
    margin-top: 70px;
  }

  .mdl-mini-footer {
    display: none;
  }

  .mobile-footer {
    margin: 10px;
  }

  .mobile-footer a {
    text-decoration: underline;
  }
}

@media(min-width: 1023px){
  .mobile-footer {
    display: none;
  }
}



.addDiv {
	display: none;
}

.search {
  color: #fff;
}
/** header **/
.mdl-layout__header-row,.mdl-layout__header-row *,.mdl-layout__tab-bar-container *{
  color: #fff;
}

.mdl-menu__item *,.mdl-menu__item {
  color: #000;
}
.mdl-layout__tab-bar-container {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mdl-layout__tab-bar-button > i {
  display: none;
}

.doc-title {
	margin-left: 5px;
	font-family: 'Quicksand','ヒラギノ角ゴ Pro W3';
	font-weight: bold;
	font-size: 32px;
}

.doc-title i {
	margin-right: 3px;
}

.doc-avator {
	width: 30px;
	height: 30px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.dialog {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: none;
  padding: 30px;
  width: 300px;
  padding-top: 10px;
 }

.loading {
	display: none;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
	/** tab barの下線 **/
	height: 3px!important;
}

.doc-page-title {
	text-align: left;
}

.doc-page-title i {
	margin-right: 3px;
}

.mdl-textfield__label::after {
  background-color: white;
}

@media(min-width: 1024px){
  .mobile-header {
    display: none;
  }
}

.mobile-header .doc-title {
  font-size: 24px;
}

/** navigation **/
.mdl-layout__drawer-button i {
  color: #fff;
}


.doc-drawer-header {
	color: #fff;
	padding-left: 16px;
}

.mdl-layout__drawer * {
  color: #fff!important;
}

.mdl-layout__drawer .mdl-navigation__link:hover {
  background: #00838f!important;
}

.mdl-navigation {
	padding-top: 0!important;
}

.doc-drawer-image {
	padding-top: 24px;
}

.doc-drawer-image img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.doc-drawer-name {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	height: 30px;
	padding-top: 10px;

}
/** home **/
.home-main {
  margin: 10px;
}
/** card **/
section > header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

section > .section__book-image {
  max-width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

section > .section__text {
	width: calc(100% - 100px);
}

@media (max-width: 479px) {
	section > .section__book-image {
  		max-width: 50%;
	}

	section > .section__text {
		width: 60%!important;
	}
}

section > header > .material-icons {
  font-size: 3rem;
}

section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}

section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}

section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}


section .section__text h5 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

section .section__text > div {
  margin: 5px 20px 20px 20px;
  text-align: left;
  margin-bottom: 0.5em;
}

section .section__text a {
  margin-right: 10px;
}


@media (max-width: 479px) {
	section .section__text h5 {
		font-size:14px;
		margin: 10px 0 5px 0;
    font-size: 12px;
    font-weight: bold;
	}

  section .section__text > div{
    margin: 5px;
    font-size: 12px;
  }

  section .section__text a {
  margin-right: 3px;
  }
}



section .section__text a {
  text-decoration: none;
  text-align: centr;
}

section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

section i ,.doc-memo-detail i{
  color: #78909c;
}
.mdl-card {
  height: auto;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.doc-card {
	margin-bottom: 20px;
}

.doc-serach-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}
.mdl-card > * {
  height: auto;
}

.mdl-card .mdl-card__supporting-text {
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 5px);
  text-align: left;
}

.mdl-card__supporting-text h5 {
  margin: 0;
  text-align: left;
}

.mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
  font-weight: bold;
}
.mdl-card__actions a:hover,
.mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  text-align: center;
}


/** memo **/
@media (max-width: 479px) {
  .doc-memo-title {
    margin: 10px;
    font-size: 18px;
  }

  .doc-memo-image {
    margin-left: 10px;
  }
}

.doc-memo {
  padding-top: 20px;
  background: #fff;
}

.doc-edit {
  background: #fff;
}

.doc-textarea {
  width: calc(100% - 30px);
  margin: 10px;
}

.doc-textarea,.doc-page-field {
  border: solid 0.3px #9FA0A0;
}


@media(max-width: 1024px){
  .doc-memo,.doc-edit {
    margin-top: 56px;
  }
}

.doc-memo .mdl-cell {
	text-align: left;
}

.doc-memo .mdl-cell button {
	text-align: center;
}

.doc-memo-subtitle {
  margin-left: 10px;
}

blockquote{
    background-color:#EFEFEF;
    padding:3em 2em 3em 2em;
    position:relative;
    z-index:1;
    font-style: normal;
    font-size: 1em;
    margin:0px;
}
blockquote:before, blockquote:after{
    font-family:"FontAwesome";
    font-size:1.5em;
    color: #9FA0A0;
    line-height:1em;
    position:absolute;
    z-index:-1;
}

blockquote:before{
    content:"\f10d";
    left:5px;
    top:5px;
}

blockquote:after{
    content:"\f10e";
    right:5px;
    bottom:5px;
}

.doc-memo-detail {
	text-align: left;
}

.doc-memo-detail > div,
.doc-memo-detail blockquote
{
	margin: 15px 50px 15px 15px;
}

.doc-page {
	margin-right: 5px !important;
}

.doc-page > div {
	float: right;
}

.doc-dialog-button {
	width: 300px;
	text-align: center;
	margin: 10px;
}

.doc-dialog-button button {
	width: 250px;
}

/** search **/
section .mdl-card__menu {
  position: inherit;
  margin: 10px;
  color: gray;
  margin-left: auto;
  float: right;
}

/** pager **/
ul.pageNav01 {
  margin: 0 0 10px;
  padding: 10px 10px 5px;
  text-align: center;
}

ul.pageNav01 li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

ul.pageNav01 li span,
ul.pageNav01 li a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 1px 8px;
  background: #fff;
  border: 1px solid #aaa;
  text-decoration: none;
  vertical-align: middle;
}

ul.pageNav01 li a:hover {
  background: #eeeff7;
  border-color: #00f;
}

/** wishlist **/
.add-list-button {
  margin-right: 10px;
}

@media (max-width: 479px) {
  .add-list-button i{
    font-size: 12px;
  }
  .wishlist section .mdl-card__menu {
    margin: 0;
  }

  .wishlist .mdl-card__actions {
    padding: 0;
  }
}
/** common **/
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.padding0 {
  padding: 0;
}

.error {
  color: red;
  margin: 20px;
}