@import url(https://fonts.googleapis.com/css?family=Quicksand:700);


body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.logo {
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	color: rgb(63,81,181);
}


.logo span {
	margin-left: 5px;
	font-family: 'Quicksand','ヒラギノ角ゴ Pro W3';
	font-weight: 300;
}
.subtitle {
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
}
.button {
	margin: 10px;
	text-align: center;
}
.button-top {
	margin-top: 30px;
}
.button button {
	text-transform: inherit;
	width: 250px;
}
button i{
	margin-right: 5px;
}
.twitter {
	background-color: #55acee;
	color:#fff;
}
.twitter:hover{
	background-color: #55acee;
	color:#fff;
	opacity: 0.5;
}
.github {
	background-color: gray;
	color:#fff;
}
.github:hover {
	background-color: gray;
	color:#fff;
	opacity: 0.5;
}
.center {
	text-align: center;
}
.exsam {
	text-align: center;
	margin-top: 40px;
}
.box {
	display: inline-block;
	text-align: center;
	width: 300px;
	background-color:#f6f6f6;
	padding: 10px;
	border-radius: 0.5em;
	margin: 15px;
	vertical-align: top;
}
.box i {
	font-size: 42px;
	padding: 5px;
	color:gray;
}
.title {
	font-weight: bold;
	font-size: 1.2em;
	color: #4c4c4c;
}
.mdl-mini-fotter {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mdl-mini-footer div{
	margin: auto;
}
.mdl-mini-footer a{
	color: #fff;
	text-decoration: none;
}

@media (max-width: 479px){
	.logo{
		font-size:34px;
	}
}

p {
	color:#6c6c6c;
}