a {
  color:   rgb(0,188,230);
  text-decoration: none;

}

.doc-header {
  position: relative;
}

.doc-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.doc-main {
  background-color:  #f1f1f1;
}

.is-compact .doc-logo-row {
  min-height: auto;
}

.doc-logo {
  background: url(images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .doc-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.doc-navigation-row {
  text-transform: uppercase;
  height: 45px;
}

.doc-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.doc-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.mdl-button.mdl-button--colored {
  background-color: rgb(34,43,52);
}

.mdl-button.mdl-button--colored:hover{
  background-color: rgba(34,43,52,0.80);
}

.mdl-button.mdl-button--colored:active{
  background-color: rgba(34,43,52,0.85);
}


.doc-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.doc-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.doc-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(0,188,212);
  left: 15%;
}

.doc-card .mdl-card__title {
  padding-bottom: 0;
}

.doc-sub-title {
  padding-left:8px;
  margin:5px 0 0;
  color: rgb(34,43,52);
}

.doc-sub-title i {
  margin-right: 3px;
}

.mdl-card__media {
  background-color: white;
}


.mdl-card__supporting-text {
  width: 100%;
}

.doc-about-card:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}

.doc-search-field {
  border: solid 1px rgba(0,0,0,.30);
  padding: 0;
}
.doc-search-text {
  height: 30px;
  padding-left: 3px;
  border: none;
  margin: 0;
}
.doc-search-text:focus {
  background-color: white;
  outline: none;
}

.doc-search-card {
  min-height: 50px;
  paddng:10px;
}

section .mdl-grid .mdl-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.mdl-layout__header {
  background-color: rgb(34,43,52);
}

.doc-horizontal {
  width: 100%;
}

@media (max-width: 479px) {
    .mdl-card__title-text{
      font-size: 1.4rem;
      font-weight: bold;
    }
}

/** detail **/
.doc-detail-image {
  display: block;
  margin: 0 auto;
}

.doc-quote-div {
  padding-left: 15px; 
}

.doc-quote-icon {
  color: #dcdcdc; 
}

.doc-quote-text {
  background-color: #f8f8ff;
  border: 1px solid #dcdcdc;
  padding: 5px;
}

.doc-detail-page {
  padding-left: 15px;
  margin: 0 0 0 8px;
}

.doc-detail-note {
  padding-left: 15px;
}

.doc-detail-hr {
  width: 100%;
  margin: 0px;
}

.doc-time {
  text-align: right;
  font-size: 0.9rem;
}

/** search **/
.add-list-button {
  margin-left: auto;
}


ul.pageNav01 {
  margin: 0 0 10px;
  padding: 10px 10px 5px;
  background: #eee;
  text-align: center;
}

ul.pageNav01 li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

ul.pageNav01 li span,
ul.pageNav01 li a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 1px 8px;
  background: #fff;
  border: 1px solid #aaa;
  text-decoration: none;
  vertical-align: middle;
}

ul.pageNav01 li a:hover {
  background: #eeeff7;
  border-color: #00f;
}

/** wish list */
.doc-amazon-button{
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 479px) {
  .book-image {
    width: 100%;
    height: auto;
  }
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
}

